<h1>Viikon {{ viikko }} pakkasasteet (laatinut: {{ tekija }})</h1>
<ul>
<li>Ma: {{pakkasasteet['ma']}}<sup>o</sup>C <br>
<li>Ti:  {{pakkasasteet['ti']}}<sup>o</sup>C <br>
<li>Ke: {{pakkasasteet['ke']}}<sup>o</sup>C <br>
<li>To: {{pakkasasteet['to']}}<sup>o</sup>C <br>
<li>Pe: {{pakkasasteet['pe']}}<sup>o</sup>C <br>
<li>La: {{pakkasasteet['la']}}<sup>o</sup>C <br>
<li>Su: {{pakkasasteet['su']}}<sup>o</sup>C <br>
<li>Pakkaspäivät (ka): {{ka1}}<sup>o</sup>C <br>
<li>Koko viikko (ka): {{ka2}}<sup>o</sup>C
</ul>